.category-title {
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 1px;

  /* adicione outros estilos desejados */

  .card {
    border: none;
    /* adicione outros estilos desejados */
  }

}

//.category-slide {
//  border-color: black;
//  margin: 2rem;
//}

//.slick-slide {
//  margin: 0.5rem;
//  border-color: black;
//  border-radius: 1rem;
//  padding: 1rem;
//}

.img{
  border-radius: 2rem;
  padding: 1rem;
}
