.category-title {
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 1px;

  .card {
    border: none;
  }

}

.img{
  border-radius: 2rem;
  padding: 1rem;
}


.category-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}


.category-item.active {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
