.brandText {
    font-size: 12px; /* default size for desktop and larger screens */
}

.icon {
    margin: 6px;
    width: 15px;
    height: 15px;
}

@media (max-width: 1200px) {
    .brandText {
        font-size: 14px; /* slightly smaller for smaller desktops or large tablets */
    }
    .icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 992px) {
    .brandText {
        font-size: 12px; /* even smaller for tablets in portrait mode */
    }
    .icon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 768px) {
    .brandText {
        font-size: 5px; /* smallest size for mobile devices */
    }
    .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}
